@model IEnumerable<MVC.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header">
                    <h1 class="text-center">@ViewData["Title"]</h1>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
                                </th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}